tooltip-container {
    background-color: white;
    padding: 1em;
    border: 1px solid black;
    border-radius: 8px;
    display: block;
    max-width: 300px;
  
    h3 {
      margin: 0;
    }
  }