info-block,
evaluation-block {
  padding: 1em;
  display: block;
  content-container {
    display: flex;
    task-lozenge {
      padding: 0.5em;
      border: 1px solid black;
      border-radius: 8px;
      margin-right: 8px;
    }
  }
}

.graph {
  flex: 1 1 auto;
}

paper-selector {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  input {
    width: 100%;
    padding: 1em;
    font-size: 1.2em;
    box-sizing: border-box;
  }
}
